/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

@media screen and (max-width: 649px) {
.header__square-pic {
  height: calc(100vw * .8);
  width: calc(100vw * .8);
  top: 25%;
  transform: translate(0, -50%);
  }
}

