.video__iframes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 515px));
  justify-content: center;
  padding: 0;
  margin: 0 0 -60px;
  column-gap: 20px;
  list-style-type: none;
}
