.section-title {
  position: relative;
  z-index: 1;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

@media screen and (max-width: 1023px) {
  .section-title {
    width: 80%;
  }
}

@media screen and (max-width: 1023px) {
  .section-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    width: 90%;
  }
}
