.footer__columns {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width: 767px) {
  .footer__columns {
    flex-direction: column-reverse;
    gap: 20px;
    width: 80%;
  }
}

